<h3>User Info:</h3>

<div class="container">

  <table class="table table-responsive">

    <tr align="center">
      <td>
        <label> email </label>
      </td>

      <td>
        <p> {{ user_info.email }} </p>
      </td>

    </tr>

    <tr align="center">
      <td>
        <label> name </label>
      </td>

      <td>
        <p> {{ user_info.name }} </p>
      </td>

    </tr>

    <tr align="center">
      <td>
        <label> bronco_Id </label>
      </td>

      <td>
        <p> {{ user_info.bronco_Id }} </p>
      </td>

    </tr>

    <tr align="center">
      <td>
        <label> balance </label>
      </td>

      <td>
        <p> {{ user_info.balance }} </p>
      </td>

    </tr>

    <tr align="center">
      <td>
        <label> department </label>
      </td>

      <td>
        <p> {{ user_info.department }} </p>
      </td>

    </tr>


  </table>

</div>