<h3>User Info:</h3>

<div class="container">

  <div class="label-segment">
    <label> email </label>
    <p> {{ user_info.email }} </p>
  </div>

  <div class="label-segment">
    <label> name </label>
    <p> {{ user_info.name }} </p>
  </div>

  <div class="label-segment">
    <label> bronco_Id </label>
    <p> {{ user_info.bronco_Id }} </p>
  </div>

  <div class="label-segment">
    <label> balance </label>
    <p> {{ user_info.balance }} </p>
  </div>

  <div class="label-segment">
    <label> department </label>
    <p> {{ user_info.department }} </p>
  </div>

</div>
