h3 {
    text-align: center;
    margin: 20px;
}

.table {
    text-align: center;
    width: 80%;
    margin: auto;
}

#rental-message {
    color: blue;
    font-weight: bold;
}

.true {
    color:red;
}
.false {
    color: grey;
}
