<app-signout-button></app-signout-button>

<div class="row">
  <div class="col-xs-2"></div>

  <div class="col-xs-8">
    <div>
      <h1 class="header">Department Admin</h1>

      <mat-card id="card">

        <form>
          <mat-tab-group id="tab-button" dynamicHeight="true">

            <mat-tab label="info">
              <app-dept-admin-info-tab></app-dept-admin-info-tab>
            </mat-tab>

            <mat-tab label="rentals">
              <app-dept-admin-rentals-tab></app-dept-admin-rentals-tab>
            </mat-tab>

            <mat-tab label="create">
              <app-dept-admin-create-tab></app-dept-admin-create-tab>
            </mat-tab>

            <mat-tab label="checkin">
              <app-dept-admin-checkin-tab></app-dept-admin-checkin-tab>
            </mat-tab>

            <mat-tab label="checkout">
              <app-dept-admin-checkout-tab></app-dept-admin-checkout-tab>
            </mat-tab>

          </mat-tab-group>

        </form>

      </mat-card>

    </div>
  </div>

  <div class="col-xs-2"></div>
</div>