h3 {
    text-align: center;
}

.table {
    text-align: center;
    margin: auto;
}

#rental-message {
    color: blue;
    font-weight: bold;
}

#rental-table {
    margin-left: 10px;
}

th {
    text-align: left;
    height: 30px;
}