h1 {
    padding: 15px;
    font-size: 45px;
}

h3 {
    margin: 20px;
}

#center-column {
    margin-top: 60px;
    text-align: center;
}

#create-account-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

#spinner {
    margin: 0 auto;
}