h3 {
    text-align: center;
    margin: 20px;
}

th {
    margin: 0 auto;
}

td {
    text-align: center;
}

#checkout-form {
    text-align: center;
}

.table {
    margin: 0px;
}

#user-input {
    margin-bottom: 20px;
}

#spinner {
    margin: 0 auto;
    margin-bottom: 40px;
}

#alert-message {
    margin: 20px;
    color: blue;
    font-weight: bold;
}

#button-segment {
    text-align: center;
    width: 100%;
}