h3 {
    text-align: center;
    margin: 20px;
}

.container {
    width: 50%;
}

#asset-message {
    text-align: center;
    color: blue;
    font-weight: bold;
}

#user-input {
    text-align: center;
    width: 100%;
}

#spinner {
    margin: 0 auto;
    margin-bottom: 40px;
}

#alert-message {
    margin: 20px;
    color: blue;
    font-weight: bold;
}

#button-segment {
    text-align: center;
    width: 100%;
}