h3 {
    text-align: center;
}

.table {
    text-align: center;
    width: 25%;
    margin: 0 auto;
}

#checkout-message {
    color: blue;
    font-weight: bold;
}

#button-segment {
    text-align: center;
    width: 100%;
}