<app-signout-button></app-signout-button>

<div class="row">
  <div class="col-xs-2"></div>
  
  <div class="col-xs-8">
    <div>
      <h1 class="header">Student</h1>
      
      <mat-card id="card">

        <form>
            <mat-tab-group id="tab-button" dynamicHeight="true">
                
                <mat-tab label="home">
                  <app-home-tab></app-home-tab>
                </mat-tab>
                
                <mat-tab label="view">
                  <app-student-view-tab></app-student-view-tab>
                </mat-tab>

                <mat-tab label="checkout">
                  <app-checkout-tab></app-checkout-tab>
                </mat-tab>

              </mat-tab-group>

        </form>
          
      </mat-card>
  
    </div>
  </div>

  <div class="col-xs-2"></div>
</div>

