<app-signout-button></app-signout-button>

<div class="row">
  <div class="col-xs-2"></div>
  
  <div class="col-xs-8">
    <div>
      <h1 class="header">Student</h1>
      
      <mat-card id="card">
        <form>
            <mat-tab-group id="tab-button" dynamicHeight="true">

                <mat-tab label="info">

                  <div>
                    <app-student-info-tab ></app-student-info-tab>
                  </div>

                </mat-tab>
              
                <mat-tab label="rentals">

                  <div>
                    <app-student-rental-tab ></app-student-rental-tab>
                  </div>

                </mat-tab>

                <mat-tab label="available">

                  <div>
                    <app-available-tab></app-available-tab>
                  </div>

                </mat-tab>

              </mat-tab-group>

        </form>
          
      </mat-card>
  
    </div>
  </div>

  <div class="col-xs-2"></div>
</div>

