.container {
    margin-top: 80px;
}

#signin-card {
    margin-top: 30px;
}

#submit-button {
    margin: 20px;
}

#new-account-label {
    margin: 10px;
}

#submit-form {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

#spinner {
    margin: 0 auto;
}

#alert-message {
    margin: 20px;
    color: blue;
    font-weight: bold;
}

#signin-button {
    margin: 20px;
}